* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --darkBlue: #445877;
    --lightBlue: #92ccce;
    --darkGray: #31343d;
    --black: #1c1d21;
    --lightColor: #eeeef7;
}

/* set background color for body of page */ 
body {
    background-color: var(--lightColor);
}

/* Header attributes for header
// Replaced header class with header tag
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkGray);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

/*  header h1 attributes */
header h1 {
    /* display: inline-block; */
    font-size: 48px;
}


/* nav (navigation) attributes for nav section and unordered list
*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    top: 0px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* set color of hyperlinks */
a {
    color: var(--lightBlue);
    text-decoration: underline;
}

/* hero (big image) dimensions set here
*/

.hero {
    position: relative;
    display: inline-block;
}
.hero-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/glazed-doughnuts-over-pink-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /*do i need this?*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Place text on bottom right of the image */
.hero-text {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.hero-text h2 {
    font-size: 18pt;
}

/* have main as flex box now but not sure if would be better
// as a grid.
*/
main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%
}

.card p {
    color: var(--darkBlue);
}

.card-header {
    position: relative;
    float: none;
    color: var(--darkBlue);
    width: 24%;
    font-size: 26pt;
    text-align: right;
    margin-right: 5px;
    padding: 30px;
    border-right: var(--darkBlue) 2px solid;
}

.card-content {
    float: right;
    width: 74%;
}

#work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#item1, #item2, #item3, #item4, #item5 {
    position: relative;
}

#item1 {
    width: 100%;
}

#item2, #item3, #item4, #item5 {
    width: 50%;
}

#work-content img{
    opacity: 0.8;
}

#item1 img {
    width: 100%; 
    height: 300px;
    border: 8px solid var(--lightBlue);
    /* margin: 5pt;
    width: 45%; */
}

#item2 img, #item3 img, #item4 img, #item5 img {
    width: 100%;
    height: 150px;
    border: 8px solid var(--lightBlue);  
    margin: 1pt;
}

#item1 h2, #item2 h2, #item3 h2, #item4 h2, #item5 h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--lightBlue);
    color: var(--lightColor);
    padding-left: 20px;
    padding-right: 20px;

}

/* add paragraph text descriptors here for inside class boxes */



/* attributes for list of contact
*/
.card-content ul {
    list-style-type: none;
    color: var(--darkBlue);
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-content ul li {
    margin-left:10px;
    /* this justify content does NOT work here, not sure why */
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  /* update hover to make fade and vibrant */
#item1 img:hover, #item2 img:hover, #item3 img:hover, #item4 img:hover, #item5 img:hover {
    opacity: 1;
}

/* making media rules for smaller screens */
@media screen and (max-width: 992px) {

    header, header nav ul, .card, #work-content, .card-content ul {
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        height: 100pt;
    }

    /* how do i make this centered? */
    .hero-text {
        position: relative;
    }

    .card-header {
        width: 80%;
        text-align: center;
        border-right: none;
        border-bottom: var(--darkBlue) 2px solid;
    }

    #item2, #item3, #item4, #item5 {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {

    }

}


