* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* color scheme for page */
:root {
    --darkBlue: #264653;
    --lightTeal: #2a9d8f;
    --darkOrange: #e76f51;
    --black: #1c1d21;
    --lightColor: #e9c46a;
}

/* set background color for body of page */ 
body {
    background-color: var(--lightColor);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Header attributes for top header banner with name and nav links
*/
.jumbotron {
    background-color: var(--darkOrange);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*  header h1 attributes */
header h1 {
    font-size: 48px;  
}

.profile {
    width: 100px;
    border-radius: 50%;
} 

/* nav (navigation) attributes for nav section and unordered list
*/
header nav {
    /* padding-top: 15px;
    margin-right: 20px; */
    font-size: 20px;
    top: 0px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* set color of hyperlinks in header */
header a {
    color: var(--lightBlue);
    text-decoration: underline;
}

/* hero (big image) dimensions set here
// hero image and overlapping text displayed right after the header banner
*/
/* .hero {
    position: relative;
    display: inline-block;
}

.hero-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/glazed-doughnuts-over-pink-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
} */

/* Place text on bottom right of the hero image */
/* .hero-text {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.hero-text h2 {
    font-size: 18pt;
} */

/* set width attributes on main section */
/* main {
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
} */

/* Three main card sections (about me, work, contact me)
// setup in flex style for formatting and to be able to adjust layout in media queries
*/
.card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%
}

.card p {
    color: var(--darkBlue);
}

.card-header {
    /* position: relative;
    float: none; */
    color: var(--darkBlue);
    /* width: 20%; */
    font-size: 26pt;
    font-weight: bold;
    /* text-align: right; */
    /* margin-right: 5px;
    padding: 30px;
    border-right: var(--darkBlue) 2px solid; */
}

.card-content {
    float: right;
    width: 74%;
    padding: 10px;
}

#work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* .big-item, .small-item {
    position: relative;
}

.big-item {
    width: 100%;
}

.small-item {
    width: 49.5%;
} */

/* setting opacity of images in work section to allow hover
// to make images appear full opacity
*/
#work-content img{
    opacity: 0.8;
}

.big-item img {
    width: 100%; 
    height: 300px;
    border: 8px solid var(--lightBlue);
}

.small-item img {
    width: 100%;
    height: 150px;
    border: 8px solid var(--lightBlue);  
    margin: 1pt;
}

/* text to display over each image in bottom left hand corner */
/* .text-box {
    position: absolute;
    bottom: 20px;
    left: 5px;
    background-color: var(--lightBlue);
    color: var(--darkGray);
    padding: 10px;
    line-height: 1.5;
}

.text-box h2 {
    font-size: 16pt;
}

.text-box h3 {
    font-size: 10pt;
}  */

/* contact section, third and final card in main section */
.card-content {
    background-color: white;
    color: var(--darkBlue);
}

.card-content ul {
    list-style-type: none;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-content ul li {
    margin-left:10px;
}

.card-content a {
    color: var(--darkBlue);
}


/* hover over each work image and the fade will dissapear */
#work-content img:hover {
    opacity: 1;
}


/* text for work section images shows over bottom left
// of each of the 5 images
*/
/* .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  } */

/* media rules to adjust formatting for for smaller screens */
/* @media screen and (max-width: 992px) {

    header, .card {
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        height: 100pt;
    }

    .hero-text {
        position: static;
    }

    .card-header {
        width: 80%;
        text-align: center;
        border-right: none;
        border-bottom: var(--darkBlue) 2px solid;
    }

    header nav ul li, .card-content ul li {
        margin: 10px;
    }
} */

  /* @media screen and (max-width: 768px) {

    header nav ul, .card-content ul, #work-content {
        flex-direction: column;
        align-items: center;
    }

    .small-item {
        width: 100%;
    } 
 }  */



  




