* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set background color for body of page */ 
body {
    background-color: #d9dcd6;
}

/* Header attributes for header, h1 and specific color for 'seo' text
// Replaced header class with header tag
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #011627;
    color: #ff9f1c;
}

/*  header h1 attributes */
header h1 {
    display: inline-block;
    font-size: 48px;
}


/* nav (navigation) attributes for nav section and unordered list
*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    top: 0px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* trying out grid for main content formatting */
.item1 { grid-area: about; }
.item2 { grid-area: work; }
.contact { grid-area: contact; }

.grid-container {
    display: grid;
    grid-template-areas:
      'about about about about about'
      'work work work work work'
      'contact contact contact contact contact';
    grid-gap: 10px;
    background-color: blueviolet;
    padding: 10px;
  }

  .grid-container h1 {
      float: left;
  }

  .grid-container > section {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    float: right;
  }

/* footer attributes for list of contact
*/
.contact ul {
    list-style-type: none;
}

.contact ul li {
    display: inline-block;
    margin-left: 25px;

}