* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --darkBlue: #445877;
    --lightBlue: #92ccce;
    --darkGray: #31343d;
    --black: #1c1d21;
    --lightColor: #eeeef7;
}

/* set background color for body of page */ 
body {
    background-color: var(--lightColor);
}

/* Header attributes for header
// Replaced header class with header tag
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkGray);
    color: white;

}

/*  header h1 attributes */
header h1 {
    display: inline-block;
    font-size: 48px;
}


/* nav (navigation) attributes for nav section and unordered list
*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    top: 0px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* set color of hyperlinks */
a {
    color: var(--lightBlue);
    text-decoration: underline;
}

/* hero (big image) dimensions set here
*/

.hero {
    position: relative;
    display: inline-block;
}
.hero-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./glazed-doughnuts-over-pink-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /*do i need this?*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Place text on bottom right of the image */
.hero-text {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.hero-text h2 {
    font-size: 18pt;
}

/* have main as flex box now but not sure if would be better
// as a grid.
*/
main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    width: 100%
}

.card p {
    color: var(--darkBlue);
}

.card-header {
    position: relative;
    float: left;
    color: var(--darkBlue);
    width: 24%;
    font-size: 26pt;
    text-align: right;
    margin-right: 5px;
    padding: 30px;
    border-right: var(--darkBlue) 2px solid;
}

.card-content {
    float: right;
    width: 74%;

}

  /* .grid-container h1 {
      float: left;
  } */


/* attributes for list of contact
*/
.card-content ul {
    list-style-type: none;
    color: var(--darkBlue);
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-content ul li {
    margin-left:10px;
    /* this justify content does NOT work here, not sure why */
}

/* grid container for work content listing images with text overlay */
.grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-areas: 'item1 item1'
                        '. .'
                        '. .';
    grid-gap: 10px;
    padding: 10px;
}

.grid-item img{
    border: 8px solid #92ccce;
}

#item1 {
    grid-area: "item1";
    grid-column-start: 1;
    grid-column-end: 3;

}